#notButton{
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  display: inline;
}